<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
$(function(){
  $("#game_table").dataTable();
})
</script>
<%= render '/players/navbar'%>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
					<div class="col-8">
            <h4 class="card-title mb-3">Game List</h4>
          </div>
            <%= link_to 'Create Game', new_game_path, class: "btn btn-warning change-employee-role",style: "width:7%;float:left;margin-left:20%" %>
            <%= link_to 'Back', root_path, class: "btn btn-warning change-employee-role",style: "width:4%;margin-left:1%"%>
        </div><br/>
        <div class="table-responsive employees_list">
          <table id="game_table" class="desk-table display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @games&.each do |game| %>
                <tr>
                  <td><%= game&.title %></td>
                  <td><%= game&.start_date&.to_date %></td>
                  <td><%= game&.end_date&.to_date %></td>

                  <td>
                    <%= link_to edit_game_path(game) do %>
                      <i class="fa fa-edit icon-color-size" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                    <% end %>
                    <%= link_to game_path(game), method: :delete do %>
                      <i class="fa fa-trash icon-color-size" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
